.about{
	margin: 25px 0;
	&__inner{
		padding-right: 25px;
	}

	&__body{
		text-align: left;

		&-text{
			margin: 25px 0;
			font-size: 12px;

			>img{
				float: left;
				border: 1px solid $secondary-color;
				padding: 2px;
				margin-right: 20px;
			}

			>.__first:first-letter{
				 font-size: 36px; /* Размер шрифта первого символа */
				 line-height: 18px;
   			 color: $primary-color;
   			 float: left;
   			 margin-right: 7px;
   			 margin-top: 10px;
			}

			>.__citata{
				position: relative;
				font-style: italic;
				margin-left: 80px;

				&:before{
					content:'';
					position: absolute;
					width: 7px;
					height: 80px;
					top: 0;
					left: -20px;
					background-color: $primary-color;
				}
			} 
		}

		&-text:first-child{
			margin-top: 0;
		}

		&-rows{
			.row{
				margin-bottom: 30px;

				.col-12{
						text-align: center;
						padding: 25px 0;
   				  margin-bottom: 20px;

					&.green{
						border: 1px solid #98c601;
						background-color: #effeb9;
						color:#98c601;
					}
					&.red{
						border: 1px solid red;
						background-color: #f99;
						color:red;
					}
					&.yellow{
						border: 1px solid #fab418;
						background-color: #ffe9ad;
						color:#fab418;
					}
					&.blue{
						border: 1px solid #4d8fcb;
						background-color: #d1e4f3;
						color:#4d8fcb;
					}
				}
			}
		}
	}
}