.rightBlock{
	&__content{
		&:not(:first-child){
			margin: 20px 0;
		} 
	}

	&__shapka{
		display: flex;
		position: relative;
		background: url(../../images/Line.png) repeat-x left top;

		h2{
			@include regularBebas;
			margin: 0;
			text-transform: uppercase;
			font-size: 14px;
			color: $primary-color;
			background: url(../../images/bg.jpg);
			padding-right: 10px;
			display: inline-block;
			vertical-align: top;
		}
	}

	&__text{
		@include Helveticalight;
		font-size: 12px;
		padding: 20px 0;
		text-align: left;
	}

	&__link{
		color: black;
		transition: 0.3s;
		&:hover{
			font-size: 14px;
    	color: $primary-color;
		}
	}

	&__galeri{
		padding: 20px 0;
	}
}
.col-3:nth-last-of-type(n+5){
	.photo{
		margin-bottom: 5px;
	}
}
.photo{
	a{
		display: block;
	}
}