input,
button{
	background-color: transparent;
	border: 0;
	padding: 0;
	font-size: 16px;
}

.btn{
	background-color: $primary-color;
	padding: 10px 15px;
	display: inline-block;
	vertical-align: top; //Что бы убрать нижний отступ
	text-transform: uppercase;
	min-width: 50px;
	text-align: center;
	cursor: pointer;
	color: white;
	
}

.btn:hover{
	background-color: $light-color;
}

.btn:disabled{
	opacity: 0.7;
	pointer-events: none;
}

