.contact{
	margin: 25px 0;
	&__inner{
		padding-right: 25px;
		img{
			width: 100%;
		}
	}
	&__body{
		display: flex;
		margin: 30px 0;
		text-align: left;

		&-info{
			display: flex;
			flex-direction: column;
			flex-basis: 30%;
			margin-right: 30px;

			span{
				color: $primary-color;
			}
		}

		&-link{
			color: black;
			&:hover{
				color:$primary-color;
			}
		}

		&-form{
			display: flex;
			flex-direction: column;
			flex-grow: 1;

		}
	}
}